.search {
  position: relative;
  padding-left: 16px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  min-width: 361px;
  height: var(--search-height);
  line-height: 20px;
  display: flex;
  overflow: hidden;
  border: 1.5px solid transparent;

  input {
    flex: 1;
    height: 100%;
    line-height: 22px;
    color: var(--black);
    min-width: 292px;
    font-size: 1.6rem;
    background-color: transparent;
    caret-color: var(--primary);
    padding-right: 40px;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    position: absolute;
    content: '';
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    background: rgba(22, 24, 35, 0.12);
    width: 1px;
    top: var(--search-top-spacer);
    right: var(--search-button-width);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }

  &-title {
    font-size: 1.4rem;
    padding: 0 12px;
    color: rgba(22, 24, 35, 0.7);
  }

  &-result {
    min-width: 361px;
  }

  &-btn {
    height: 100%;
    width: var(--search-button-width);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
      cursor: pointer;
    }

    &:active {
      background-color: rgba(22, 24, 35, 0.06);
    }
  }
}

.clear,
.loading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(var(--search-button-width) + 16px);
  color: rgba(22, 24, 35, 0.4);
  cursor: pointer;
}

.loading {
  //   display: none;
  cursor: none;
  animation: spinner linear 1s infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
