.wrapper {
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 4px;
  min-width: 110px;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 7px 16px 8px;
  text-align: center;
  background-color: var(--white);
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;

  + .wrapper {
    margin-left: 8px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

// Button type
.rounded {
  border-radius: 999px;
  border-color: rgba(22, 24, 35, 0.12);
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.primary {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover {
    border-color: var(--primary);
    background-color: #fe2c55;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.06),
        rgba(0, 0, 0, 0.06)
      ),
      none;
  }
}

.outline {
  border-color: var(--primary);
  color: var(--primary);

  &:hover {
    border-color: var(--primary);
    background-color: rgba(254, 44, 85, 0.06);
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

// Button size
.small {
  min-width: 88px;
  padding: 3px 16px 4px;
}

.large {
  min-width: 148px;
  padding: 14px 16px;
}

//icon button
.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  display: inline-block;
  width: 24px;
  text-align: center;
}
