// Menu wrapper
.menu-list {
  width: 224px;
  // Menu-items
  .menu-item {
    margin-left: 0;
  }
}

.menu-list div {
  padding-bottom: 8px;
}

.menu-item {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  border-radius: 0;
  font-weight: 600;
  color: var(--black);
  &:hover {
    background-color: rgba(22, 24, 25, 0.03);
  }
  &.separate {
    border-top: 1px solid rgba(22, 24, 25, 0.12);
  }
}

// Header
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
}

.back-btn {
  width: 50px;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
