@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
  // color
  --primary: #fe2c55;
  --black: #000;
  --text-color: #333;
  --white: #fff;

  // header height (line: 2 - at: src/component/Layout/component/Header/Header.module.scss)
  --default-layout-header-height: 60px;

  /* container width 
     - line: 8 , at: src/component/Layout/DefaultLayout/DefaultLayout.module.scss
     - line: 11 , at: src/component/Layout/component/Header/Header.module.scss
  */
  --default-layout-width: 1150px;
}

//* reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//* init font-size
html {
  font-size: 62.5%;
}

//*
body {
  font-family: 'ProximaNova', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

// Font embedded
@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/ProximaNova-Semibold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: ProximaNova;
  src: url('/assets/fonts/Proxima-Nova-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: SofiaPro;
  src: url('/assets/fonts/sofiapro-bold.woff2');
  font-weight: 700;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

// Custom tippy tooltips
body {
  .tippy-box {
    // font-size: 1.6rem;
    border-radius: 8px;
    font-weight: 600;
    line-height: 2.2rem;
    background-color: #545454;
  }

  .tippy-arrow {
    color: #545454;
  }
}
